<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!--
        A Boolean value that indicates whether the app creates and manages virtual machines.
        The entitlement is required to use the Hypervisor APIs in any process.
        -->
        <key>com.apple.security.hypervisor</key>
        <true/>
    </dict>
</plist>
